.root {
    background-color: white;
}


nav {
    height: 50px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #50FA7B;
}


.bottom_information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}