body {
    background-color: white;
}


.title {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 10px;
    text-align: center;
    background-color: #343A40;
    color: white;
    border-radius: 10px;
}


.title:hover {
    letter-spacing: 5px;
}


.description {
    text-align: center;
    font-size: 18px;
}


section ul {
    list-style: disc;
}


section {
    font-size: 16px;
    margin-bottom: 20px;
}
