body {
    background-color: white;
}

.title {
    margin: 40px 40px;
    padding: 20px 20px;
    text-align: center;
    background-color: #343A40;
    color: white;
    border-radius: 10px;
}


.description {
    text-align: center;
    font-size: 18px;
}


section ul {
    list-style: none;
}

