{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/search_reddit.css' %}">
{% endblock %}


{% block body %}

    <div class="container">
        <div class="header">
            <h3 class="header_title"> Browse Reddit! </h3>
            <p class="header_desc"> You can get posts from reddit! Just type a topic you like to see if there's a subreddit with that name </p>
        </div>


        <div class="row">
            <div class="col-lg-8 col-md-8 col-xs-12">
                <input id="searchbar" type="text" placeholder="Search something!" />
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12">
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle" style="width: 100%;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Category </button>
                <div class="dropdown-menu kind_dropdown">
                    {% for kind in orderby %}
                        <a class="dropdown-item"> {{ kind }} </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12">
                <div class="d-flex flex-row justify-content-center align-content-center">
                    <label style="padding-top: 5px; padding-right: 5px;"> Limit </label>
                    <input id="limit" type="number" min="10" max="100" value="10"/>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center" style="margin: 20px 20px;">
            <div class="spinner-border" id="spinner" hidden role="status" style="height: 4rem; width: 4rem; color: #50FA7B">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        <div class="row post_container">

        </div>


        <div class="post_paginator" hidden>

        </div>

    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'js/search_reddit.js' %}"> </script>
{% endblock %}