{% extends 'base.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/write_your_own.css' %}">
{% endblock %}

{% block title %}
    <title> Write your own </title>
{% endblock %}


{% block body %}
    <div class="container">
        <div>
            <p style="font-size: 20px;"> Write something here or copy text from another source to parse its content  </p>
            <p> To get the score of the sentence all the stop words are removed and then python's VADER library give us 
                a number:
            </p> 
            <ul>
                <li> 1: positive </li> 
                <li> 0: neutral  </li>
                <li> -1: negative </li> 
            </ul>
            <p> This approach is used since stop words don't give any information about the sentiment </p>
            <p> Curious about the raw response we got from the server? Open dev tools, process the sentence 
                and then look at the console <i class="fa fa-terminal" aria-hidden="true" style="color: white; background-color: black"></i> !
            </p>
            <form id="wyoform" method="POST">
                {% csrf_token %}
                <textarea name="tms" id="tms" rows="10"></textarea> 
                <br/>
                <button type="submit" class="btn btn-success btn-md" id="submit-btn"> Process </button>
            </form>
            <br/>
            <button class="btn btn-primary btn-sm" id="random_tweet"> Load random tweet </button>
        </div>

        <div class="wyo-processing">
            <h5 class="wyo-title"> The sentence was processed </h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th> Level </th>
                            <th> Data </th>
                        </tr>
                    </thead>
                    <tbody id="wyo-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        console.log("Write your own...");

        $(document).ready(() => {
            $(".wyo-processing").hide();
        });

        $("#submit-btn").click(event => {
            event.preventDefault();
            const text = $("#tms").val();
            const encoded_form = $("#wyoform").serialize();
            if ( text !== "" ) {
                $.ajax({
                    type: "post",
                    url: "http://127.0.0.1:8000/api/posts/parse",
                    data: encoded_form,
                    success: response => {
                        console.log(response)
                        const sentence_no_stop_words = response["sentence_no_stop_words"].join(" ");
                        const sentence_tokens = response["sentence_tokens"].map(token => (
                            `< ${token} >`
                        ));
                        const sentence_stems = response["sentence_stems"].map(item => (
                            `< ${item} >`
                        ));
                        const sentence_pos_tags = response["sentence_pos"].map(item => (
                            `< ${item} >`
                        ));
                        const sentence_lemma = response["sentence_lemma"].map(item => Object.values(item)).join(", ");
                        let sentence_sentiment = "";
                        if (response["sentence_sentiment"] === 1) {
                            sentence_sentiment = "positive";
                        }
                        else if (response["sentence_sentiment"] === -1) {
                            sentence_sentiment = "negative";
                        }
                        else {
                            sentence_sentiment = "neutral";
                        }
                        $(".wyo-processing").show();
                        $("#wyo-body").html("");
                        $("#wyo-body").append(`
                            <tr>
                                <td> No stop words  </td>
                                <td> ${ sentence_no_stop_words }  </td>
                            </tr>
                            <tr>
                                <td> Word tokens  </td>
                                <td> ${ sentence_tokens } </td>
                            </tr>
                            <tr>
                                <td> Word stems  </td>
                                <td> ${ sentence_stems } </td>
                            </tr>
                            <tr>
                                <td> POS tags </td>
                                <td> ${ sentence_pos_tags } </td>
                            </tr>
                            <tr>
                                <td> Words Lemma </td>
                                <td> ${ sentence_lemma } </td>
                            </tr>
                            <tr>
                                <td> Sentiment </td>
                                <td> ${ sentence_sentiment } </td>
                            </tr>
                        `);
                    },
                    error: err => {
                        console.log(err)
                    }
                });
            }
        });

        $("#random_tweet").click(() => {
            $.ajax({
                url: "http://127.0.0.1:8000/api/tweet/random",
                method: "GET",
                success: response => {
                    const tweet = response.tweet;
                    $("#tms").html(tweet);
                    console.log(tweet)
                },
                error: err => {
                    alert("There was an error at server");
                }
            });
        });
    </script>
{% endblock %}