{% extends 'base.html' %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/write_your_own.css' %}">
{% endblock %}

{% block title %}
    <title> Write your own </title>
{% endblock %}


{% block body %}
    <div class="container">
        <div>
            <p style="font-size: 20px;"> Write something here or copy text from another source to parse its content  </p>
            <p> To get the score of the sentence all the stop words are removed and then python's VADER library give us 
                a number:
            </p> 
            <ul>
                <li> 1: positive </li> 
                <li> 0: neutral  </li>
                <li> -1: negative </li> 
            </ul>
            <p> This approach is used since stop words don't give any information about the sentiment </p>
            <p> Curious about the raw response we got from the server? Open dev tools, process the sentence 
                and then look at the console <i class="fa fa-terminal" aria-hidden="true" style="color: white; background-color: black"></i> !
            </p>
            <form id="wyoform" method="POST">
                {% csrf_token %}
                <textarea name="tms" id="tms" rows="10"></textarea> 
                <br/>
                <button type="submit" class="btn btn-success btn-md" id="submit-btn"> Process </button>
            </form>
            <br/>
            <button class="btn btn-primary btn-sm" id="random_tweet"> Load random tweet </button>
        </div>

        <div class="wyo-processing">
            <h5 class="wyo-title"> The sentence was processed </h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th> Level </th>
                            <th> Data </th>
                        </tr>
                    </thead>
                    <tbody id="wyo-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/write_your_own.js' %}"> </script>
{% endblock %}